<div class="" [ngStyle]="{'height':'220px'}" style="margin-top: -88px;">
  <!-- tittle -->
  <div>
    <p fxFlex="80">Suggestions For You</p>
    <p fxFlex="20">See All</p>
  </div>
  <div>
    <div fxFlex="73">
      <!-- avatar -->
      <img class="avatar" [src]="'assets/images/avatars/hari.jpg'">
      <span class="name mat-body-2 " fxHide fxShow.gt-xs>Vin Deasel</span>
      <span class="name mat-body-2 second-name" fxHide fxShow.gt-xs>@vindeasel</span>
    </div>
    <div fxFlex="23">
      <button mat-raised-button class="color-btn">Follow</button>
    </div>
  </div>
  <div>
    <div fxFlex="73">
      <!-- avatar -->
      <img class="avatar" [src]="'assets/images/avatars/hari.jpg'">
      <span class="name mat-body-2" fxHide fxShow.gt-xs>Vin Deasel</span>
      <span class="name mat-body-2 second-name" fxHide fxShow.gt-xs>@vindeasel</span>
    </div>
    <div fxFlex="23">
      <button mat-raised-button style="background-color: unset;border:1px solid gainsboro;">Follow</button>
    </div>
  </div>
  <div>
    <div fxFlex="73">
      <!-- avatar -->
      <img class="avatar" [src]="'assets/images/avatars/hari.jpg'">
      <span class="name mat-body-2" fxHide fxShow.gt-xs>Vin Deasel</span>
      <span class="name mat-body-2 second-name" fxHide fxShow.gt-xs>@vindeasel</span>
    </div>
    <div fxFlex="23">
      <button mat-raised-button class="color-btn">Follow</button>
    </div>
  </div>
  <div class="border"></div>
</div>
